# Configuration Aliases - Direct file editing
alias zipit="nvim ~/.zshrc"
alias tmuxit="nvim ~/.config/tmux/tmux.conf"
alias conkit="nvim ~/.config/nvim"
alias nameit="nvim ~/.aliases"
alias shit="nvim ~/.local/bin/sesh"
alias commit="nvim ~/scripts"
alias start="tmux new -s main"
alias zipper="source ~/.zshrc"

# Git Aliases
alias pull="git fetch && git pull"
alias goto="git checkout"
alias fix="git add . && git commit --amend --no-edit"
alias ff="git add . && git commit -C ORIG_HEAD"
alias stage="git add"
alias unstage="git restore --staged"
alias rip="git add . && git rebase --continue"
alias amend="git commit --amend"


log() {
  num=${1:-10}
  git --no-pager log --graph --oneline -n $num
}
destroy() {
  git restore --staged ${1:-"package-lock.json"}
  git restore ${1:-"package-lock.json"} 
}
add(){
    git add .
    if [ -z "$1" ]; then
       git commit
    else
      git commit -m "$1"
    fi
}
back(){
    git reset --soft HEAD~"$1"
}
